*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  margin: 2rem 0;
}
.container {
  width: 70rem;
  height: 70rem;
  /* background-color: orangered; */
  margin: 5rem auto;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  /* border: 1px solid #eee; */
}
.field {
  width: 7rem;
  height: 7rem;
  border: 1px solid #ccc;
  background-color: #fff;
  display: grid;
  place-content: center;
  position: relative;
  cursor: pointer;
}
.field::before {
  content: attr(data-fieldId);
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.4rem;
  display: none;
}

.start-field,
.end-field {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.start-field {
  background-color: yellowgreen;
}
.end-field {
  background-color: orangered;
}

.ball {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: lightblue;
}
.active {
  border: 1px solid orangered;
}
.visited-field {
  background-color: rgba(52, 128, 45, 0.2);
  transition: background-color 1s;
}
.goal {
  background-color: rgba(238, 49, 24, 0.2);
  transition: background-color 0.5s;
}
/* Checkered pattern */

/* .container > .field:nth-child(-2n + 10),
.container > .field:nth-child(10) ~ div:nth-child(-2n + 19),
.container > .field:nth-child(20) ~ div:nth-child(-2n + 30),
.container > .field:nth-child(30) ~ div:nth-child(-2n + 39),
.container > .field:nth-child(40) ~ div:nth-child(-2n + 50),
.container > .field:nth-child(50) ~ div:nth-child(-2n + 59),
.container > .field:nth-child(60) ~ div:nth-child(-2n + 70),
.container > .field:nth-child(70) ~ div:nth-child(-2n + 79),
.container > .field:nth-child(80) ~ div:nth-child(-2n + 90),
.container > .field:nth-child(90) ~ div:nth-child(-2n + 99) {
  background-color: #ddd;
} */
